.rectangle {
    position: absolute;
    background-color: #fff992;
    opacity: 0.4;
    z-index: 9999999;
    /*pointer-events: none;*/
}
.non-selectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: crosshair;
}
.buttonDelete, .buttonMove {
    position: absolute;
    display: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /*pointer-events: auto;*/
}
.buttonDelete {
    background-color: red;
}
.buttonMove {
    background-color: blue;
}